obj/
bin/
Libraries/
Driver/
DriverInstallation/

cv210.dll
cvaux210.dll
cvextern.dll
cxcore210.dll
highgui210.dll
ml210.dll
opencv_ffmpeg210.dll

Debug/
Release/
*.suo
*.ncb
*.pdb
*.user
*.cachefile
_ReSharper.*/